<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjl.yuehu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/yasuo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">
        <activity
            android:name=".ui.activity.GuiderActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainAct" />
        <activity android:name=".ui.activity.WebViewAct" />
        <activity android:name=".ui.activity.CommentAct" />
    </application>

</manifest>